<h1><%= @schedule.roomie.name %></h1>

<h2><%= @schedule.term %> '<%= @schedule.year %></h2>

<% @sessions.each do |s| -%>
  <h4><%=link_to s.course.title, s.course %></h4>
  <p><%= s.days_s %> at <%= s.starts_at.strftime '%l:%M %p' %></p>
<% end -%>

