<% if roomie? -%>

Hey there, <%= roomie.name %>!
<%= render 'roomies/show' %>

<% else -%>

<%= render 'roomies/form' %>

<% end -%>

<h2>Some recent listings</h2>
<ul>
<% @recent.each do |i| -%>
  <li><span style="float: right; color: gray;"><%=time_ago_in_words i.created_at %> ago</span><%= i.name %> (in <%=link_to i.building.name, i.building %>, room <%= i.room %>)</li>
<% end -%>
</ul>


