<h2>Want to find your floormates?</h2>
<p>Put your name and <a href="http://myhousing.drexel.edu/">MyHousing</a> reservation string below!</p>

<p>Alternatively, forward your official housing email to dormbook@danopia.net, and your roommates will be automaticly listed as well.</p>

<%= render 'roomies/form' %>

<h2>Some recent listings</h2>
<ul>
<% @recent.each do |i| -%>
  <li><span style="float: right; color: gray;"><%=time_ago_in_words i.created_at %> ago</span><%= i.name %> (in <%=link_to i.building.name, i.building %>, room <%= i.room %>)</li>
<% end -%>
</ul>


