<% if @roomie -%>

<p>Hey there, <%= @roomie.to_name %>!</p>
<p>You are in <strong>room <%= @roomie.room %> in <%=link_to @roomie.building.name, @roomie.building %></strong>.</p>
<p>For more information, hit up your <%=link_to 'private page', @roomie %>.</p>

<% else -%>

<%= render 'roomies/form' %>

<% end -%>

<h2>Some recent listings</h2>
<ul>
<% @recent.each do |i| -%>
  <li><span style="float: right; color: gray;"><%=time_ago_in_words i.created_at %> ago</span><%= i.to_name %> (in <%=link_to i.building.name, i.building %>, room <%= i.room %>)</li>
<% end -%>
</ul>


