<%= form_for(@roomy) do |f| %>
  <% if @roomy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roomy.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @roomy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Full name' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :raw_string, 'Reservation ID (R##-####-#)' %><br />
    <%= f.text_field :raw_string %>
  </div>
  <div class="actions">
    <%= f.submit 'Find floormates!' %>
  </div>
<% end %>
