<h2>Want to find your floormates?</h2>
<p>Put your<% if !@has_facebook %> name and<% end %> <a href="http://myhousing.drexel.edu/">MyHousing</a> reservation string below!</p>

<p>Alternatively, forward your housing email to dormbook@danopia.net, and your roommates will be automatically listed as well.</p>

<% if !@has_facebook -%>
<p>If you have a Facebook, please <fb:login-button perms="email"></fb:login-button> first, to save you effort and to help others find your profile.</p>
<% end -%>

<%= form_for(@roomy) do |f| %>
  <% if @roomy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roomy.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @roomy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Full name' %><br />
    <%= f.text_field :name, :disabled => @has_facebook %>
  </div>
  <div class="field">
    <%= f.label :raw_string, 'Reservation ID (R##-####-#)' %><br />
    <%= f.text_field :raw_string %>
  </div>
  <div class="actions">
    <%= f.submit 'Find floormates!' %>
  </div>
<% end %>
