<p id="notice"><%= notice %></p>

<h2><%= @roomy.name %></h2>

<% if @others.any? -%>
  <div style="margin: 2em; padding: 0 1em; border: 2px solid #363; background-color: #cfc;">
    <p><strong>Here's your <%=pluralize @others.size, 'roommate' %></strong> so far!</p>
    <ul>
  <% @others.each do |i| -%>
      <li><%= i.name %></li>
  <% end -%>
    </ul>
  </div>
<% else -%>
  <div style="margin: 2em; padding: 0 1em; border: 2px solid #633; background-color: #fcc;">
    <p><strong>I don't know about your roomies yet.</strong> Tell people to submit their IDs so there's a higher chance of you finding a roomie. Check back later!</p>
  </div>
<% end -%>

<p>You are in <strong><%=link_to @roomy.building.name, @roomy.building %></strong>, along with <%=pluralize @bldg.size, 'other' %> so far. Here's a few:</p>
<ul>
<% @bldg.last(5).each do |i| -%>
  <li><%= i.name %> (in <%= i.room %>)</li>
<% end -%>
</ul>

<p>You are on <strong>floor <%= @roomy.floor %></strong>, along with <%=pluralize @floors.size, 'other' %> so far. Here's all that I know on your floor:</p>
<ul>
<% @floors.each do |i| -%>
  <li><%= i.name %> (in <%= i.room %>)</li>
<% end -%>
</ul>

