<p id="notice"><%= notice %></p>

<h2><%= @building.name %></h2>

<p>Known assignments so far (by floor):</p>
<ul>
<% @by_floor.each do |(floor, i)| -%>
  <li>
    Floor <%= floor %>
    <ul>
<% Set.new(i).classify(&:room_i).sort.each do |(room, j)| -%>
      <li><%= j.first.room %>: <%= j.map(&:name).join(', ') %></li>
<% end -%>
    </ul>
  </li>
<% end -%>
</ul>

