<p id="notice"><%= notice %></p>

<p style="float: right;"><fb:profile-pic uid="<%= @building.fb_id %>" linked="false" size="normal"></fb:profile-pic></p>

<h2><%= @building.name %></h2>

<p>Facebook group: <a href="http://www.facebook.com/<%= @building.fb_id %>"><fb:name uid="<%= @building.fb_id %>" linked="false"></fb:name></a></p>

<p>Known assignments so far (by floor):</p>
<ul>
<% @by_floor.each do |(floor, i)| -%>
  <li>
    Floor <%= floor %>
    <ul>
<% Set.new(i).classify(&:room).sort.each do |(room, j)| -%>
      <li><%= j.first.room %>: <%= j.map(&:to_name).join(', ').html_safe %></li>
<% end -%>
    </ul>
  </li>
<% end -%>
</ul>

