<h2><%= @course.title %></h2>
<h3><%= @course.category %> <%= @course.level %>-<%= @course.section %></h3>

<p>
  <b>CRN:</b>
  <%= @course.crn %>
</p>

<p>
  <b><%= @course.credits %></b>
  credits
</p>

<p>Known students:</p>
<ul>
<% @course.sessions.map(&:schedules).flatten.each do |s| -%>
  <li><%=link_to s.roomie.name, s %></li>
<% end -%>
</ul>

