<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Drexel Dormbook</title>
    
    <%= stylesheet_link_tag 'application' %>
    <%#= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25180822-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.Event.subscribe('auth.login', function(response) {
          window.location.reload();
        });
        FB.Event.subscribe('auth.logout', function(response) {
          window.location.reload();
        });
      };
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#appId=164143943660572&amp;xfbml=1&amp;cookie=1"></script>
  
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>List <%=link_to 'your room', new_roomy_path %></h3>
          </li>
          <li>
            <h3>View <%=link_to 'buildings', buildings_path %></h3>
            <ul class="links">
<% Building.all.sort_by(&:name).each do |building| -%>
              <li><%=link_to building.name, building %></li>
<% end -%>
            </ul>
          </li>
        </ul>
        
<% if !facebook? -%>
        <fb:login-button perms="email"></fb:login-button>
<% end -%>
      </div>

      <div id="content">
        <div id="header">
          <h1>Drexel <a href="/">Dormbook</a></h1>
          <h2>Explore your floor before you even move in</h2>
        </div>

        <div id="getting-started">
<%= yield %>
        </div>
      </div>

      <div id="footer">
        Copyright &copy; <a href="http://www.facebook.com/daniel.lamando">Daniel Lamando</a> 2011<br/>
        Thanks to <a href="http://www.facebook.com/djliles">David Liles</a> for help decoding the IDs
      </div>
    </div>
  </body>
</html>

